# Ignore virtual environments
gdpr-validator/
backend/Lib
backend/Scripts
backend/Include
backend/pyvenv.cfg

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE configurations
.vscode/
.idea/

# Ignore other unnecessary files
*.log
*.env  # If using environment variables
